:root{
    --colorFondoHead: #EAC926;
    --colorFondoMenu:#03264C;
    --colorIconoFooter: #1259c3;
    --colorSubtituloFooter: #666;
    --colorParrafoFooter: #ebebeb;
    --colorVerde: #39b54a;
    --textoCuerpo: 12px;
    --textoTitulo: 24px;
    --textoPrecio: 18px;
    --textoDescuentoDescripcion: 16px
}


*{
  box-sizing:border-box; 
  margin: 0;
} 


/* header */



/* main */
.home__main__section h5{
  font-size: 18px;
}

.home__main__section h6{
  font-size: 16px;

}

.home__main__section h4{
  font-size: 24px;
  

}




