.home{
    font-family:'Roboto';
    

}

/* header */

.home__header{
    background-color: var(--colorFondoHead);
}

.home__header__logo{
    width: 47%;
    padding: 10px;
}

.home__header__burger{
    display: flex;
    text-align: center;
    margin: auto;
    padding: 5px ;
    background-color: var(--colorFondoMenu);
    color: var(--colorParrafoFooter);
    
}

.home__header__banner img{
/*     display: none;
 */    width: 99%;
    margin: 2px;
    padding-top: 13px;
    
}

.home__header__section{
    display: none;
}

/* main */

.home__main h5, h6{
    margin: 5px;
}

.home__main__section{
    align-content: center;
    width: 90%;
}

.home__main__section article{
    margin: 10px;
    border-top: 1px solid #ebebeb;
    padding: 15px;
}

.home__main__section img{
width: 60%;
}

.home__main__truck{
    display: inline-block;
    color: rgb(72, 190, 72);
    border: 2px solid rgb(135, 219, 133);
    padding: 15px;
    border-radius: 30px;

}

.home__main__section h4{
        display: none;

}


@media (min-width: 768px){
    /* header */
    .home__header__burger{
        display: none;
             
        }
    .home__header__banner img{
        display: none;
        }

    .home__header__section{
        display: inline-block;
    }

    /* main */
    .home__main{
        box-shadow : 0px 0px 10px rgb ( 100 , 100 , 100 );
     }

    .home__main__section h4{
        display: inline-block;


    }

}

@media (min-width: 1024px){
    

}
