.home{
    font-family:'Roboto';

    

}

/* header */

.home__header{
    background-color: var(--colorFondoHead);
}

.home__header__logo{
    width: 47%;
    padding: 15px;
}

.home__header__burger{
    display: flex;
    text-align: center;
    margin: auto;
    padding: 5px ;
    background-color: var(--colorFondoMenu);
    color: var(--colorParrafoFooter);
    
}

.home__header section{
    margin: 9px;

}

.home__header__banner img{
/*  display: none; */
    display: flex;
    width: 98%;
    margin: 20px auto;
    text-align: center;
    padding-top: 15px 0;
    
}

.home__header h2{
    color: var(--colorSubtituloFooter);
    font-size: var(--textoTitulo);
}

.home__header__section{
    display: none;
}

.home__header__section__nav{
    margin-bottom: 15px;
}

.home__header__section__nav li{
    list-style-type: none;
    margin-bottom: 2px;
    
}
/* main */

.home__main h5, h6{
    /* margin: 5px; */
}

.home__main__section{
    align-content: center;
    width: 90%;
}

.home__main__section article{
    margin: 10px;
    border-top: 1px solid #ebebeb;
    padding: 3px;
}

.home__main__section img{
width: 40%;
}

.home__main__truck{
    display: inline-block;
    color: rgb(72, 190, 72);
    border: 2px solid rgb(135, 219, 133);
    padding: 15px;
    border-radius: 30px;

}

.home__main__section h4{
        display: none;

}

/* footer */

.home__footer li{
    list-style-type: none;
}

.home__footer h4{
    text-align: center;
    color:var(--colorSubtituloFooter);;
}

.home__footer p{
    text-align: center;
    color: #a3a2a2;
    font-size: 12px;
    margin: 5px;
}


.home__footer__card{
    text-align: center;
    color: #1259c3;
    margin: 5px;
    
}

.home__footer__gift{
    text-align: center;
    color: #1259c3;
    margin: 5px;
}

.home__footer__shield{
    text-align: center;
    color: #1259c3;
    margin: 5px;
}

.home__footer h6{
    margin: 15px;   
}




@media (min-width: 768px){
    /* header */
    .home__header__burger{
        display: none;
             
        }
    .home__header__banner img{
        display: none;
        }

    .home__header__section{
        display: inline-block;
    }

    /* main */
    .home__main__section{
        box-shadow : 0px 0px 10px rgb ( 100 , 100 , 100 );
     }

    .home__main__section h4{
        display: inline-block;


    }

}

@media (min-width: 1024px){
    

}
